@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hanken";
  src: url("../../assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype");
}

body {
  font-family: "Hanken", sans-serif;
}
